{% import "partials/macros.html" as macros %}

<!DOCTYPE html>
<html lang="en" class="fullheight">

{# Override the "title" block to supply your own page title, e.g "Page Name | Site Name" #}

<head>
    {# HTML nonsense #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "partials/favicons.html" %}
    {% block title %}
    <title>{{config.title}}</title>
    <meta name="description" content="{{config.description}}" />
    {% endblock %}
    {# Validation for Mastodon instances #}
    {% for social in config.extra.navbar | filter(attribute="mastodon", value=true) %}
    <link rel="me" href="{{ social.url | safe }}" />
    {% endfor %}
    <link rel="stylesheet" type="text/css" href="/application.css" media="screen" />
    {# OpenGraph Protocol #}
    {% block ogp %}
    <meta property="og:title" content="{{config.title}}" />
    <meta property="og:description" content="{{config.description}}" />
    <meta property="og:type" content="website" />
    {% if current_url %}
    <meta property="og:url" content="{{current_url | safe}}" />
    {% endif %}
    {% set banner_image = get_url(path=config.extra.default_banner, trailing_slash=false) %}
    <meta property="og:image" content="{{banner_image | safe}}" />
    {% endblock %}
    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="{{config.title}} Feed" href="{{get_url(path="atom.xml", trailing_slash=false)}}">
    {% endblock %}
</head>

<body class="fullheight">
    {% include "partials/navbar.html" %}
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/elasticlunr.min.js"></script>
    <script type="text/javascript" src="/application.js"></script>
    {% block javascript %}
    {% endblock %}
</body>

</html>