{% macro article_unwrapped(page, force_full) %}
<div class="media">
    <div class="media-center">
        <img src="/brand/avatar-256x256.png" class="author-image" alt="Astral Frontier">
    </div>
    <div class="media-content has-text-centered">
        <p class="title article-title"><a href="{{page.permalink}}">{{page.title}}</a></p>
        <p class="subtitle is-6 article-subtitle">
            <a href="#">@astralfrontier.org</a> on {{page.date}}
        </p>
        {% if page.taxonomies and page.taxonomies.tags %}
        <div class="tags has-addons level-item">
            {% for tag in page.taxonomies.tags %}
            <span class="tag is-rounded"><a href="tags/{{tag | slugify}}/">{{tag}}</a></span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
<div class="content article-body">
    {% if not force_full and page.summary %}
    {{page.summary | safe}}
    <p>
        <a href="{{page.permalink}}">More</a>
    </p>
    {% else %}
    {{page.content | safe}}
    {% endif %}
    {# TODO: show all of page content if there was a "more" element #}
</div>
{% endmacro article_unwrapped %}

{% macro article(page) %}
<div class="card article">
    <div class="card-content">
        {{self::article_unwrapped(page=page, force_full=false)}}
    </div>
</div>
{% endmacro article %}

{% macro articles(pages) %}
<section class="articles">
    <div class="column is-8 is-offset-2">
        {% for page in pages %}
            {{ self::article(page=page) }}
        {% endfor %}
    </div>
</section>
{% endmacro articles %}

{% macro banner(page) %}
<section class="hero is-info is-medium is-bold">
    {% if page.extra.banner_image %}
    <div class="hero-body" style="background-image: url({{page.extra.banner_imag}});">
    {% else %}
    <div class="hero-body" style="background-image: url({{config.extra.default_banner}});">
    {% endif %}
        <div class="container has-text-centered">
            {% if page.extra.banner_quote %}
            <h1 class="title">{{quote}}</h1>
            {% endif %}
        </div>
    </div>
</section>
{% endmacro banner %}

{% macro promo(page) %}
<section class="hero is-info is-bold is-small promo-block">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <i class="fa fa-bell-o"></i> Nemo enim ipsam voluptatem quia.</h1>
            <span class="tag is-black is-medium is-rounded">
                    Natus error sit voluptatem
                </span>
        </div>
    </div>
</section>
{% endmacro promo %}