{# Look for the banner image on a given page and all its ancestors #}
{% macro banner_image(page) -%}
{% set candidate = config.extra.default_banner -%}
{% if page.extra.banner_image -%}
{% set candidate = page.extra.banner_image -%}
{% else -%}
{% for ancestor_name in page.ancestors -%}
{% set ancestor = get_section(path=ancestor_name, metadata_only=true) -%}
{% if ancestor.extra.banner_image -%}
{% set_global candidate = ancestor.extra.banner_image -%}
{% endif -%}
{% endfor -%}
{% endif -%}
{{ candidate }}{% endmacro banner_image -%}

{% macro toc2(headers, level) %}
<ul>
    {% for header in headers %}
    <li>
        <a href="{{header.permalink | safe}}">{{header.title}}</a>
        {% if header.children %}
        {{ self::toc2(headers=header.children, level=header.level + 1) }}
        {% endif %}    
    </li>
    {% endfor %}
</ul>
{% endmacro toc2 %}

{# Show the table of contents at a given level #}
{% macro toc(headers) %}
{% if headers %}
{{ self::toc2(headers=headers, level=1) }}
{% endif %}
{% endmacro toc %}

{# Show an article without the card wrapper - the media object of the header, plus content #}
{% macro article_unwrapped(page, force_full) %}
<div class="media">
    <div class="media-center">
        <img src="/brand/avatar-256x256.png" class="author-image" alt="Astral Frontier">
    </div>
    {% if force_full %}
    <a id="article-top"></a>
    {% endif %}    
    {# h-entry, p-name, etc. are part of the microformats protocol - http://microformats.org/wiki/h-entry #}
    <div class="media-content has-text-centered mt-6 h-entry">
        <p class="title article-title"><a href="{{page.permalink | safe}}" class="p-name">{{page.title}}</a></p>
        <p class="subtitle is-6 article-subtitle">
            <a class="p-author h-card" href="https://astralfrontier.org">@astralfrontier</a>
            {% if page.date %}
            on <time class="dt-published" datetime="{{page.date}}">{{page.date | date(format="%b %e %Y")}}</time>
            {% endif %}
            {% if page.ancestors | length > 1 %}
            {% set parent_section = get_section(path=page.ancestors | last, metadata_only=true) %}
            in <a href="{{parent_section.permalink | safe}}">{{parent_section.title}}</a>
            {% endif %}
        </p>
        {% if page.taxonomies %}
        <div class="tags has-addons level-item">
            {% for type in config.taxonomies %}
            {% for tag in page.taxonomies[type.name] | default(value=[]) %}
            {% set url = get_taxonomy_url(kind=type.name, name=tag) %}
            <span class="tag is-rounded"><a class="p-category" href="{{url | safe}}">{{tag}}</a></span>
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
<div class="content article-body mt-5 e-content">
    {% if not force_full and page.summary %}
    {{page.summary | safe}}
    <p>
        <a href="{{page.permalink | safe}}">Read more &quot;{{page.title}}&quot; &raquo;</a>
    </p>
    {% elif page.toc and not page.extra.hide_toc %}
    <div class="columns">
        <div class="column is-one-quarter is-article-toc">
            {{self::toc(headers=page.toc)}}
        </div>
        <div class="column">
            {{page.content | safe}}
        </div>
    </div>
    {% else %}
    {{page.content | safe}}
    {% endif %}
</div>
{% if force_full %}
<hr />
<div class="columns is-vcentered">
    <div class="column is-one-third has-text-centered">
        {% if page.lower %}
        <a href="{{page.lower.permalink | safe}}">&laquo; {{page.lower.title | default(value="Previous page")}}</a>
        {% endif %}
    </div>
    <div class="column is-one-third has-text-centered">
        <a href="#article-top">Back to top</a>
    </div>
    <div class="column is-one-third has-text-centered">
        {% if page.higher %}
        <a href="{{page.higher.permalink | safe}}">{{page.higher.title | default(value="Previous page")}} &raquo;</a>
        {% endif %}
    </div>
</div>
{% endif %}
{% endmacro article_unwrapped %}

{# Show an article, which coudld be abbreviated #}
{% macro article(page) %}
<div class="card article">
    <div class="card-content">
        {{self::article_unwrapped(page=page, force_full=false)}}
    </div>
</div>
{% endmacro article %}

{% macro quip(page) %}
<section class="hero is-info is-bold is-small promo-block">
    {% set banner_image_path = self::banner_image(page=page) -%}
    {% set meta = get_image_metadata(path=banner_image_path) %}
    {% set image = resize_image(path=banner_image_path, width=meta.width, height=500, op="fit_height") %}
    <div class="hero-body" style="background-image: url({{image.url | safe}});">
        <div class="container has-text-centered">
            <h1 class="title">{{page.title}}</h1>
            <div class="quip-content is-size-3">
                {{page.content | safe}}
            </div>
        </div>
    </div>
</section>
{% endmacro quip %}

{# Show an array of articles #}
{% macro articles(pages) %}
<section class="articles">
    {% for page in pages %}
    {% if page.taxonomies.tags and page.taxonomies.tags is containing("Quip") %}
    {{ self::quip(page=page) }}
    {% else %}
    {{ self::article(page=page) }}
    {% endif %}
    {% endfor %}
</section>
{% endmacro articles %}

{# Show a banner image, based on page properties. #}
{% macro banner(page) %}
<section class="hero is-info is-medium is-bold">
    {% set banner_image_path = self::banner_image(page=page) -%}
    {% set meta = get_image_metadata(path=banner_image_path) %}
    {% set image = resize_image(path=banner_image_path, width=meta.width, height=500, op="fit_height") %}
    <div class="hero-body" style="background-image: url({{image.url | safe}});">
    <div class="container has-text-centered">
        {% if page.extra.banner_quote %}
        <h1 class="title">{{page.extra.banner_quote}}</h1>
        {% endif %}
    </div>
    </div>
</section>
{% endmacro banner %}

{# Show an abbreviated media object for an article #}
{# CURRENTLY UNUSED #}
{% macro media(page) %}
<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <a href="{{page.permalink | safe}}">
                    <strong>{{page.title}}</strong>
                    {% if page.date %}
                    <small>{{page.date | date(format="%b %e %Y")}}</small>
                    {% endif %}
                </a>
                {% if page.ancestors | length > 1 %}
                {% set parent_section = get_section(path=page.ancestors | last, metadata_only=true) %}
                <small>in <a href="{{parent_section.permalink | safe}}">{{parent_section.title}}</a></small>
                {% endif %}
                <br>
                {{page.description}}
            </p>
        </div>
    </div>
</article>
{% endmacro media %}

{# Show the pagination controls for the current page #}
{% macro pagination(paginator) %}
{# Only show pagination controls if there's enough elements for it to matter #}
{% if paginator.previous or paginator.next %}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if paginator.previous %}
    <a class="pagination-previous" href="{{paginator.previous | safe}}">Previous</a>
    {% else %}
    <a class="pagination-previous" disabled>Previous</a>
    {% endif %}
    {% if paginator.next %}
    <a class="pagination-next" href="{{paginator.next | safe}}">Next page</a>
    {% else %}
    <a class="pagination-next" disabled>Next page</a>
    {% endif %}
</nav>
{% endif %}
{% endmacro pagination %}