<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/brand/banner-640x160.png" alt="Astral Frontier">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                {% for link in config.extra.navbar %}
                {% if link.external %}
                <a class="navbar-item" rel="noopener nofollow noreferrer" href="{{link.url | safe}}" target="_blank"  aria-label="{{link.title}}">
                {% else %}
                <a class="navbar-item" href="{{link.url | safe}}" aria-label="{{link.title}}">
                {% endif %}
                    {% if link.icon %}
                    <span class="icon">
                        <i class="{{link.icon}}" aria-hidden="true"></i>
                    </span>
                    {% elif link.title %}
                    {{link.title}}
                    {% endif %}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>