{# The topline stat block, including rank and other things. #}
{# Usage: exsurgemobstats(rank=rank, flavor=flavor, spd=spd, dash=dash, atk=atk, mgk=mgk, pdef=pdef, mdef=mdef, res=res) #}
{# Values are arrays for the basic and advanced versions of the creature #}
{# All values are required #}
<div class="columns has-text-white has-background-grey">
    <div class="column is-2">
        Basic (R{{rank[0]}})
    </div>
    <div class="column is-4">
        <i>{{flavor[0]}}</i>
    </div>
    <div class="column is-2">
        Adv (R{{rank[1]}})
    </div>
    <div class="column is-4">
        <i>{{flavor[1]}}</i>
    </div>
</div>
<div class="columns">
    <div class="column is-6 has-text-centered">
        <strong>SPD</strong>:  {{spd[0]}},
        <strong>DASH</strong>: {{dash[0]}},
        <strong>ATK</strong>:  {{atk[0]}},
        <strong>MGK</strong>:  {{mgk[0]}},
        <strong>PDEF</strong>: {{pdef[0]}},
        <strong>MDEF</strong>: {{mdef[0]}},
        <strong>RES</strong>:  {{res[0]}}
    </div>
    <div class="column is-6 has-text-centered">
        <strong>SPD</strong>:  {{spd[1]}},
        <strong>DASH</strong>: {{dash[1]}},
        <strong>ATK</strong>:  {{atk[1]}},
        <strong>MGK</strong>:  {{mgk[1]}},
        <strong>PDEF</strong>: {{pdef[1]}},
        <strong>MDEF</strong>: {{mdef[1]}},
        <strong>RES</strong>:  {{res[1]}}
    </div>
</div>