{# The actions list for a mob #}
{# Usage: exsurgemobactions(actions=actions) #}
{# Actions is an array of actions. Each element of the array is another array: basic AI range, advanced AI range, name, and description #}
{# All values are required #}
<div class="columns has-text-white has-background-grey has-text-centered">
    <div class="column is-1">
        Basic
    </div>
    <div class="column is-1">
        Advanced
    </div>
    <div class="column is-3">
        Action Name
    </div>
    <div class="column is-7">
        Action Description
    </div>
</div>
{% for action in actions %}
<div class="columns has-text-centered">
    <div class="column is-1">
        {{action[0]}}
    </div>
    <div class="column is-1">
        {{action[1]}}
    </div>
    <div class="column is-3">
        {{action[2]}}
    </div>
    <div class="column is-7">
        {{action[3] | markdown | safe}}
    </div>
</div>
{% endfor %}