{# HP, Counters, and defenses #}
{# Usage: exsurgemobhp(pdef=pdef, mdef=mdef, counters=counters, vuln=vuln, hp=hp) #}
{# Non-Vuln values are arrays for the basic and advanced versions of the creature #}
{# Vuln is an array of FLM, WAV, FRS, STN, AER, BLT, BLM, MTL, NVR - values are -1, 0, or 1 #}
{# All values are required #}
<div class="columns has-text-white has-background-grey">
    <div class="column is-2">
        BASIC
    </div>
    <div class="column is-2">PDEF: {{pdef[0]}}</div>
    <div class="column is-2">MDEF: {{mdef[0]}}</div>
    <div class="column is-2">
        ADV.
    </div>
    <div class="column is-2">PDEF: {{pdef[1]}}</div>
    <div class="column is-2">MDEF: {{mdef[1]}}</div>
</div>
<div class="columns">
    <div class="column is-2">
        No Loss
    </div>
    <div class="column is-2">
        0-{{pdef[0] - 1}}
    </div>
    <div class="column is-2">
        0-{{mdef[0] - 1}}
    </div>
    <div class="column is-2">
        No Loss
    </div>
    <div class="column is-2">
        0-{{pdef[1] - 1}}
    </div>
    <div class="column is-2">
        0-{{mdef[1] - 1}}
    </div>
</div>
{% for row in [1, 2, 3, 4, 5, 6, 7] %}
{% set offset = row * 10 %}
<div class="columns">
    <div class="column is-2">
        {% if row > 2 %}⯀ x {{row}}{% elif row == 2 %}⯀⯀{% else %}⯀{% endif %}
    </div>
    <div class="column is-2">
        {% if row == 7 %}{{pdef[0] + offset}}+{% else %}{{pdef[0] + offset}} - {{pdef[0] + offset + 9}}{% endif %}
    </div>
    <div class="column is-2">
        {% if row == 7 %}{{mdef[0] + offset}}+{% else %}{{mdef[0] + offset}} - {{mdef[0] + offset + 9}}{% endif %}
    </div>
    <div class="column is-2">
        {% if row > 3 %}⯀ x {{row}}{% elif row == 2 %}⯀⯀{% else %}⯀{% endif %}
    </div>
    <div class="column is-2">
        {% if row == 7 %}{{pdef[1] + offset}}+{% else %}{{pdef[1] + offset}} - {{pdef[1] + offset + 9}}{% endif %}
    </div>
    <div class="column is-2">
        {% if row == 7 %}{{mdef[1] + offset}}+{% else %}{{mdef[1] + offset}} - {{mdef[1] + offset + 9}}{% endif %}
    </div>
</div>
{% endfor %}
<div class="columns">
    <div class="column is-6">
        Counters per Turn: {{counters[0]}}
    </div>
    <div class="column is-6">
        Counters per Turn: {{counters[1]}}
    </div>
</div>
<div class="columns">
    <div class="column is-12 has-text-centered">
        Vulnerabilities:
        {% set vuln_labels = ["FLM", "WAV", "FRS", "STN", "AER", "BLT", "BLM", "MTL", "NVR"] %}
        {% for i in range(start=0, end=8) %}
        {% set v = vuln[i] %}
        {{vuln_labels[i]}} {% if v == 1 %}⯀{% elif v == -1 %}▢{% else %}&dash;{% endif %},
        {% endfor %}
    </div>
</div>
<div class="columns">
    <div class="column is-6">
        HP: {% for i in range(start=1, end=hp[0]) %}⯀{% endfor %} ({{hp[0]}})
    </div>
    <div class="column is-6">
        HP: {% for i in range(start=1, end=hp[1]) %}⯀{% endfor %} ({{hp[1]}})
    </div>
</div>