{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
<title>{{section.title}} | {{config.title}}</title>
{% endblock %}

{% block breadcrumb %}
{{ macros::breadcrumb(ancestors=section) }}
{% endblock %}

{% block content %}

<div class="columns">
    <div class="column is-narrow is-article-toc">
        <aside class="menu">
            <ul class="menu-list">
                {% for page in section.pages %}
                {{ macros::toc(page=page, maxdepth=2) }}
                {% endfor %}
            </ul>
        </aside>
    </div>

    <div class="column">
        <div class="content">
            {% for page in section.pages %}
            {{ page.content | safe }}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}