{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
<title>{{config.title}}</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col s4">
        {{section.content | safe}}
    </div>

    <div class="col s8">
        {% for sectionpath in section.subsections %}
        {% set child = get_section(path=sectionpath, metadata_only=false) %}
        <div class="row">
            <div class="col s12">
                {{ macros::categorycard(section=child) }}
            </div>
        </div>
        {% endfor %}
        {% for page in section.pages %}
        <div class="row">  
            <div class="col s12">
              {{ macros::pagecard(page=page) }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}