{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
<title>{{config.title}}</title>
<meta name="description" content="{{section.extra.description | default(value=config.description)}}" />
{% endblock %}

{% block breadcrumb %}
<header class="has-background-black is-hidden-mobile">
    <div class="container">
        <figure class="image">
            <img src="/Logo.png" alt="Astral Frontier logo" />
        </figure>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-one-third">
        <div class="content">
            {{section.content | safe}}
        </div>
        <p class="title is-size-4">Contact</p>
        {% for social in config.extra.social %}
        <article class="media">
            <figure class="media-left">
                <p class="image">
                    <img src="/nucleo-social-icons/social-1_{{social.icon}}.svg" alt="{{social.title}}" />
                </p>
            </figure>
            <div class="media-content">
                <p class="is-size-4">
                    <a href="{{social.url | safe}}" target="_blank" rel="external">{{social.title}}</a>
                </p>
            </div>
        </article>
        {% endfor %}
    </div>

    <div class="column">
        <div class="columns is-multiline">
            {% for sectionpath in section.subsections %}
            {% set child = get_section(path=sectionpath, metadata_only=false) %}
            <div class="column is-full">
                {{ macros::categorycard(section=child) }}
            </div>
            {% endfor %}
            {% for page in section.pages %}
            <div class="column is-full">
                {{ macros::pagecard(page=page) }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}