{# TODO fix up #}
{% macro sectioncard(section) %}
<div class="card small">
    <div class="card-content">
        <span class="card-title">{{section.title}}</span>
        {% if section.subsections %}
        <p>
            <strong>
            {% for path in section.subsections %}
            {% set subsection = get_section(path=path, metadata_only=true) %}
            <a href="{{subsection.permalink | safe}}">{{subsection.title}}</a>
            {% if not loop.last %}
            |
            {% endif %}
            {% endfor %}
            </strong>
        </p>
        {% endif %}

        {% if section.pages %}
        <p>
            {% for page in section.pages %}
            <a href="{{page.permalink | safe}}">{{page.title}}</a>
            {% if not loop.last %}
            |
            {% endif %}
            {% endfor %}
        </p>
        {% endif %}
        {{section.content | safe}}
    </div>
    <div class="card-action">
        <a href="{{section.permalink | safe}}">Read More</a>
    </div>
</div>
{% endmacro sectioncard %}

{% macro categorycard(section) %}
<div class="card">
    <div class="card-content">
        <div class="columns">
            {% if section.extra.image %}
            <div class="column">
                <figure class="image">
                    <img src="{{section.extra.image}}" alt="{{section.title}}" />
                </figure>
            </div>
            {% endif %}
            <div class="column">
                <p class="title is-4">{{section.title}}</p>
                <div class="content">
                    {{section.content | safe}}
                </div>
                <a class="button is-info" href="{{section.permalink | safe}}">Read More</a>
            </div>
        </div>
    </div>
</div>
{% endmacro categorycard %}

{% macro pagecard(page) %}
<div class="card">
    <div class="card-content">
        <div class="columns">
            {% if page.extra.image %}
            <div class="column">
                <figure class="image">
                    <img src="{{page.extra.image}}" alt="{{page.title}}" />
                </figure>
            </div>
            {% endif %}
            <div class="column">
                <p class="title is-4">{{page.title}}</p>
                <div class="content">
                    {{page.content | safe}}
                </div>
                <a class="button is-info" href="{{page.permalink | safe}}">Read More</a>
            </div>
        </div>
    </div>
</div>
{% endmacro pagecard %}

{% macro gamecard(page) %}
<div class="card fullheight">
    {% if page.extra.cover %}
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="{{page.extra.cover | safe}}" />
        </figure>
    </div>
    {% endif %}
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">{{page.title}}</p>
            </div>
        </div>
        <div class="content">
            {{page.content | striptags | truncate(length=280) | safe}}
        </div>
        {% if page.extra.url %}
        <a class="button is-info" href="{{page.extra.url | safe}}" target="_blank">Visit</a>
        {% else %}
        <a class="button is-info" href="{{page.permalink | safe}}">Read More</a>
        {% endif %}
    </div>
</div>
{% endmacro gamecard %}

{# Pass either 'section' or 'page', depending on what you're rendering #}
{# TODO fix up #}
{% macro breadcrumb(ancestors) %}
<section class="hero is-small is-info">
    <div class="hero-body">
        <nav class="breadcrumb">
            <ul>
                {% for path in ancestors.ancestors %}
                {% set parent = get_section(path=path, metadata_only=true) %}
                <li>
                    <a href="{{parent.permalink | safe}}">{{parent.title}}</a>
                </li>
                {% endfor %}
                <li class="is-active">
                    {{ancestors.title}}
                </li>
            </ul>
        </nav>    
    </div>
</section>
{% endmacro breadcrumb %}

{% macro tocitem(page, entries, maxdepth=2) %}
{% for entry in entries %}
<li class="collection-item">
    <a href="{{entry.permalink | replace(from=page.permalink, to="") }}">
        {{ [ "", "", ">", "»"] | nth(n=entry.level) | safe }}
        {{entry.title}}
    </a>
</li>
{% if entry.level < maxdepth %}
{{ self::tocitem(page=page, entries=entry.children, maxdepth=maxdepth) }}
{% endif %}
{% endfor %}
{% endmacro tocitem %}

{% macro toc(page, maxdepth=2) %}
{{ self::tocitem(page=page, entries=page.toc, maxdepth=maxdepth) }}
{% endmacro toc %}