{% macro sectioncard(section) %}
<div class="card small">
    <div class="card-content">
        <span class="card-title">{{section.title}}</span>
        {% if section.subsections %}
        <p>
            <strong>
            {% for path in section.subsections %}
            {% set subsection = get_section(path=path, metadata_only=true) %}
            <a href="{{subsection.permalink | safe}}">{{subsection.title}}</a>
            {% if not loop.last %}
            |
            {% endif %}
            {% endfor %}
            </strong>
        </p>
        {% endif %}

        {% if section.pages %}
        <p>
            {% for page in section.pages %}
            <a href="{{page.permalink | safe}}">{{page.title}}</a>
            {% if not loop.last %}
            |
            {% endif %}
            {% endfor %}
        </p>
        {% endif %}
    </div>
    <div class="card-action">
        <a href="{{section.permalink | safe}}">Read More</a>
    </div>
</div>
{% endmacro sectioncard %}

{% macro categorycard(section) %}
<div class="card horizontal">
    {% if section.extra.image %}
    <div class="card-image">
        <img src="{{section.extra.image}}" alt="{{section.title}}" />
    </div>
    {% endif %}
    <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">{{section.title}}</span>
            <p>{{section.content | safe}}</p>
        </div>
        <div class="card-action">
            <a href="{{section.permalink | safe}}">Read More</a>
        </div>
    </div>
</div>
{% endmacro categorycard %}

{% macro pagecard(page) %}
<div class="card small">
    <div class="card-content">
        <span class="card-title">{{page.title}}</span>
        <p>{{page.content | safe}}</p>
    </div>
    <div class="card-action">
        <a href="{{page.permalink | safe}}">Read</a>
    </div>
</div>
{% endmacro pagecard %}

{% macro gamecard(page) %}
<div class="card large sticky-action">
    {% if page.extra.cover %}
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{page.extra.cover | safe}}">
    </div>
    <div class="card-content">
        <span class="card-title">{{page.title}}</span>
    </div>
    <div class="card-reveal">
        <span class="card-title">{{page.title}}</span>
        {{page.content | safe}}
    </div>
    {% else %}
    <div class="card-content">
        <span class="card-title">{{page.title}}</span>
        {{page.content | safe}}
    </div>
    {% endif %}
    <div class="card-action">
        <a href="{{page.extra.url | default(value=page.permalink) | safe}}">Visit</a>
    </div>
</div>
{% endmacro gamecard %}

{# Pass either 'section' or 'page', depending on what you're rendering #}
{% macro breadcrumb(ancestors) %}

<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <span>&nbsp;</span>
            {% for path in ancestors.ancestors %}
            {% set parent = get_section(path=path, metadata_only=true) %}
            <a href="{{parent.permalink | safe}}" class="breadcrumb">{{parent.title}}</a>
            {% endfor %}
            <a class="breadcrumb">{{ancestors.title}}</a>
        </div>
    </div>
</nav>

{% endmacro breadcrumb %}