{% extends "partials/base.html" %}
{% import "partials/macros.html" as macros %}

{% block title %}
<title>{{page.title}}</title>
<meta name="description" content="{{page.description | default(value=config.description)}}" />
{% endblock %}

{% block rss %}
{% if page.ancestors and page.ancestors[1] %}
{% set parent_section = get_section(path=page.ancestors[1], metadata_only=true) %}
{% if parent_section.generate_feed %}
<link rel="alternate" type="application/atom+xml" title="{{parent_section.title}} Feed" href="{{parent_section.permalink | safe}}atom.xml">
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
{{ macros::banner(page=page)}}
<div class="container">
    {{ macros::article_unwrapped(page=page, force_full=true) }}
</div>
{% endblock content %}