{% extends "partials/base.html" %}
{% import "partials/macros.html" as macros %}

{% block title %}
<title>{{term.name}}</title>
<meta name="description" content="A list of pages containing the term {{term.name}}" />
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">{{term.name}}</h1>
    <div class="columns is-multiline">
        {% for page in term.pages %}
        <div class="column">
        <a href="{{page.permalink}}">{{page.title}}</a>
        </div>
        {% endfor %}    
    </div>
</div>
{% endblock content %}