{% extends "partials/base.html" %}
{% import "partials/macros.html" as macros %}

{% block title %}
<title>{{term.name}}</title>
<meta name="description" content="A list of pages containing the term {{term.name}}" />
{% endblock %}

{% block rss %}
{% if taxonomy.feed %}
{% set url = get_taxonomy_url(kind=taxonomy.name, name=term.name) %}
<link rel="alternate" type="application/atom+xml" title="{{term.name}} Feed" href="{{url | safe}}atom.xml">
{% endif %}
{% endblock %}

{% block content %}
<section class="hero is-info is-medium is-bold">
    {% if config.extra.tag_banner_images[term.name] %}
    {% set banner_image_path = config.extra.tag_banner_images[term.name] %}
    {% else %}
    {% set banner_image_path = config.extra.default_banner %}
    {% endif %}
    {% set meta = get_image_metadata(path=banner_image_path) %}
    {% set image = resize_image(path=banner_image_path, width=meta.width, height=500, op="fit_height") %}
    <div class="hero-body" style="background-image: url({{image.url | safe}});">
        <div class="container has-text-centered">
            <small>
                <a href="..">&#8592; All {{taxonomy.name}}</a>
            </small>
            <h1 class="title">{{term.name}}</h1>
        
        </div>
    </div>
</section>
<div class="container">    
    {% if paginator %}
    {{ macros::articles(pages=paginator.pages) }}
    {{ macros::pagination(paginator=paginator) }}
    {% else %}
    {{ macros::articles(pages=term.pages) }}
    {% endif %}
</div>
{% endblock content %}